<app-card title="Empresa" subTitle="Cadastro">
  <div class="actions"><button type="button" class="btn btn-light grow" (click)="voltar()">Voltar</button></div>
  <form [formGroup]="formGroup" (ngSubmit)="save()">
    <div class="row">
      <div class="col-12 col-lg-6 col-xl-2">
        <div class="form-group">
          <label for="codigo">Id</label>
          <input formControlName="id" readonly class="form-control" id="codigo" aria-describedby="código">
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-10">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input maxlength="250" formControlName="nome" class="form-control" id="nome" aria-describedby="nome">
          <app-form-feedback [formGroup]="formGroup" field="nome"></app-form-feedback>
        </div>
      </div>
      <div class="col-6 col-md-9">
        <div class="form-group">
          <label for="cnpj">CNPJ</label>
          <input [value]="formGroup.get('cnpj').value | cnpj" maxlength="18" formControlName="cnpj" class="form-control" id="cnpj" aria-describedby="cnpj">
          <app-form-feedback [formGroup]="formGroup" field="cnpj"></app-form-feedback>
        </div>
      </div>
      <div class="col-6 col-md-3">
        <div class="form-group">
          <label for="dataFundacao">Data de Fundação</label>
          <input maxlength="250" formControlName="dataFundacao" class="form-control" id="dataFundacao" aria-describedby="dataFundacao">
        </div>
      </div>
    </div>
    <div class="text-right">
      <button [disabled]="!formGroup.valid" type="submit" class="btn btn-primary grow">Salvar</button>
    </div>
  </form>
</app-card>