<app-card title="Cargos" subTitle="Listagem">
  <div class="actions mb-2"><button type="button" (click)="novo()" class="btn btn-primary grow">Novo</button></div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Descrição</th>
        <th class="text-center" scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list; trackBy:trackById">
        <td scope="row">{{item?.id}}</td>
        <td>{{item?.descricao}}</td>
        <td class="text-center">
          <button (click)="editar(item?.id)" title="Editar" type="button" class="btn btn-outline-primary rounded-pill grow">
            <i class="fa fa-edit"></i>
          </button>
          <button (click)="remover(item?.id)" title="Excluir" type="button" class="btn btn-outline-danger rounded-pill grow">
            <i class="fa fa-trash"></i>
          </button>
          <div *ngIf="actions?.length" class="btn-group">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Mais Opções
                </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a *ngFor="let action of actions" (click)="action?.click" class="dropdown-item" href="#">{{action?.title}}</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</app-card>