/* You can add global styles to this file, and also import other style files */

@import '~font-awesome/css/font-awesome.css';
body {
  overflow-x: hidden;
}

.grow {
  transition: all .4s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.shadow {
  box-shadow: 9px -8px 49px -18px rgba(0, 0, 0, 0.64);
}